.overview-card {
  margin: 1em;
  width: 32em;
}

.card-collection {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

li,
td {
  overflow-wrap: break-word;
  word-break: break-all;
}
