<h1>Dashboard</h1>

<span>Daemon stats display: </span>
<mat-chip-listbox [multiple]="'true'">
    <mat-chip-option (selectionChange)="daemonStatsColumnChanged('lowest', $event)">Fastest ms</mat-chip-option>
    <mat-chip-option (selectionChange)="daemonStatsColumnChanged('average', $event)">Average ms</mat-chip-option>
    <mat-chip-option (selectionChange)="daemonStatsColumnChanged('highest', $event)">Slowest ms</mat-chip-option>
    <mat-chip-option (selectionChange)="daemonStatsColumnChanged('total', $event)">Total sec</mat-chip-option>
</mat-chip-listbox>

<div class="card-collection">
    <mat-card *ngFor="let item of systemInfo | keyvalue" class="overview-card">
        <mat-card-header>
            <mat-card-title>{{ item.key }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-tab-group *ngIf="item.value | async as sys; else loading">
                <mat-tab *ngIf="sys.Status as status" label="Overview">
                    <p>Memory usage: {{ status.SysUsedMemMB }} MB / {{ status.SysTotalMemMB }} MB</p>
                    <mat-progress-bar
                        value="{{ (status.SysUsedMemMB ?? 0) / (status.SysTotalMemMB ?? 1) * 100 }}"></mat-progress-bar>
                    <p>Root disk usage: {{ status.DiskUsedMB }} MB / {{ status.DiskCapMB }} MB</p>
                    <mat-progress-bar
                        value="{{ (status.DiskUsedMB ?? 0) / (status.DiskCapMB ?? 1) * 100 }}"></mat-progress-bar>
                    <table matSort *ngIf="statsTableDataSource(sys) as stats" class="daemon-stats-table"
                        (matSortChange)="statsTableSortChanged($event)">
                        <tr>
                            <th *ngFor="let col of daemonStatsTableColumns" [mat-sort-header]="col">
                                {{COLUMN_CAPTION.get(col) }}
                            </th>
                        </tr>
                        <tr *ngFor="let daemon of stats">
                            <td>{{ daemon.Name }}</td>
                            <td>{{ daemon.Count }}</td>
                            <td *ngIf="daemonStatsTableColumns.includes('lowest')">
                                {{ daemon.Lowest ?? 0 * 1000 | number: '1.0-4' }}
                            </td>
                            <td *ngIf="daemonStatsTableColumns.includes('average')">
                                {{ daemon.Average ?? 0 * 1000 | number: '1.0-4' }}
                            </td>
                            <td *ngIf="daemonStatsTableColumns.includes('highest')">
                                {{ daemon.Highest ?? 0 * 1000 | number: '1.0-4'}}
                            </td>
                            <td *ngIf="daemonStatsTableColumns.includes('total')">
                                {{ daemon.Total ?? 0 | number: '1.0-1'}}
                            </td>
                        </tr>
                    </table>
                </mat-tab>
                <mat-tab label="Process Info">
                    <table mat-table [dataSource]="procInfoTableDataSource(sys)">
                        <ng-container matColumnDef="key">
                            <td mat-cell *matCellDef="let elem">{{ elem.key }}</td>
                        </ng-container>
                        <ng-container matColumnDef="value">
                            <td mat-cell *matCellDef="let elem">{{ elem.value }}</td>
                        </ng-container>
                        <tr mat-row *matRowDef="let row; columns: procInfoTableColumns;"></tr>
                    </table>
                    <mat-divider></mat-divider>
                    <mat-accordion>
                        <procinfo [title]="'Directory content'" [entries]="sys?.Status?.WorkingDirContent"
                            [sorted]="true"></procinfo>
                        <procinfo [title]="'Argv flags'" [entries]="sys?.Status?.CLIFlags" [sorted]="false">
                        </procinfo>
                        <procinfo [title]="'Environment'" [entries]="sys?.Status?.EnvironmentVars" [sorted]="true">
                        </procinfo>
                    </mat-accordion>
                </mat-tab>
            </mat-tab-group>
            <ng-template #loading>
                <mat-spinner></mat-spinner>
            </ng-template>
        </mat-card-content>
    </mat-card>
</div>
<button mat-raised-button color="primary" (click)="navSetup()">Setup</button>
