---
version: 2
jobs:
  build:
    docker:
      - image: cimg/go:1.21
    parallelism: 1
    steps:
      - checkout
      - run: env CGO_ENABLED=0 go vet ./...
      - run: make all
      - run: make clean
      - run: env CGO_ENABLED=0 go test -count=1 -v -cover ./...
