{
  "HTTPFilters": {
    "LintText": {
      "CompressSpaces": false,
      "CompressToSingleLine": false,
      "KeepVisible7BitCharOnly": false,
      "MaxLength": 1000,
      "TrimSpaces": false
    },
    "PINAndShortcuts": {
      "Passwords": [
        "password"
      ]
    }
  },
  "HTTPHandlers": {
    "CommandFormEndpoint": "/cmd",
    "IndexEndpointConfig": {
      "HTMLFilePath": "index.html"
    },
    "IndexEndpoints": [
      "/",
      "/index.html"
    ],
    "InformationEndpoint": "/info",
    "RequestInspectorEndpoint": "/myrequest",
    "WebProxyEndpoint": "/proxy"
  }
}